/* 初始化标签开始 */
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* 初始化标签结束 */
/* 内容分割开始 */
hr {
    display: block;
    width: 80%;
    border: none;
    border-top: 1px solid #1f1f1f;
    margin-top: 30px;
    margin-bottom: 30px;
}

/* 内容分割结束 */
/* 身体开始 */
body {
    display: block;
    background-image: url(../assets/bgc.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-color: #f4f4f4;
}

/* 身体结束 */
/* 头部开始 */
.topBar {
    display: flex;
    align-items: center;
    background-color: #1f1f1f;
    width: 100%;
    height: 75px;
    padding-left: 10%;
    padding-right: 10%;
    position: fixed;
    transition: 0.3s ease-in-out;
}

.topBar .title {
    cursor: default;
    transition: 0.5s ease-in-out;
    display: flex;
    flex: 5;
    height: 100%;
    justify-content: left;
    align-items: center;
    color: dodgerblue;
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.topBar .title:hover {
    font-size: 45px;
    transition: 0.5s ease-in-out;
}

.topBar .home,
.topBar .more,
.topBar .info {
    cursor: pointer;
    display: flex;
    transition: 0.5s ease-in-out;
    justify-content: center;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    width: 100px;
    height: 45px;
    font-size: 18px;
    color: #f4f4f4;
    border: 2px solid transparent;
    border-radius: 10px;
}

.topBar .home::before,
.topBar .more::before,
.topBar .info::before {
    content: "";
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    display: inline-block;
    background-size: cover;
}

.topBar .home::before {
    background-image: url(../assets/home.png);
}

.topBar .more::before {
    background-image: url(../assets/more.png);
}

.topBar .info::before {
    background-image: url(../assets/info.png);
}

.topBar .home:hover,
.topBar .more:hover,
.topBar .info:hover {
    border: 2px #f4f4f4 solid;
    border-radius: 16px;
    background-color: #bbe1fa;
    color: #1f1f1f;
    transition: 0.5s ease-in-out;
}

/* 头部结束 */
/* 主界面开始 */
.main {
    display: flex;
    justify-content: center;
    align-items: end;
    background-color: #f4f4f4;
    background-image: url(../assets/bgc1.png);
    background-repeat: no-repeat;
    background-position: center;
    width: auto;
    height: 750px;
    background-size: cover;
}

.main .github,
.main .qq,
.main .wechat {
    cursor: pointer;
    content: "";
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    display: inline-block;
    background-size: cover;
    margin: 0 10px;
    opacity: 0.7;
    transition: 0.3s ease-in-out;
}

.main .github {
    background-image: url(../assets/github-fill.png);
}

.main .qq {
    background-image: url(../assets/qq.png);
}

.main .wechat {
    background-image: url(../assets/wechat.png);
}

.main .github:hover,
.main .qq:hover,
.main .wechat:hover {
    width: 60px;
    height: 60px;
    opacity: 1;
    transition: 0.3s ease-in-out;
}

/* 主界面结束 */
/* 滚动到首页开始 */
.upToTop {
    position: fixed;
    bottom: 100px;
    right: -15px;
    cursor: pointer;
    content: "";
    display: block;
    width: 60px;
    height: 60px;
    background-size: cover;
    background-image: url(../assets/up-btn.png);
    opacity: 0;
    transition: 0.3s ease-in-out;
}

/* 滚动到首页结束 */
/* 关于开始 */
.information {
    display: flex;
    justify-content: center;
    align-items: center;

}

/* 关于结束 */
/* 尾部开始 */
footer .footer {
    background-color: #f4f4f4;
    font-size: 14px;
    font-family: "Ubuntu", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    flex-direction: column;
}

/* 尾部结束 */