/* 初始化标签 */
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* 内容分割 */
hr {
    display: block;
    width: 80%;
    border: none;
    border-top: 1px solid #1f1f1f;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

/* 小li */
li {
    list-style: none;
}

/* 身体 */
body {
    /* background-image: url(../assets/bg.jpg); */
    background-image: url(https://www.helloimg.com/images/2023/09/11/onGdJo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-color: #f4f4f4;
}

/* 头部 */
.topBar {
    z-index: 100;
    display: flex;
    align-items: center;
    background-color: transparent;
    width: 100%;
    height: 10vh;
    padding-left: 10%;
    padding-right: 10%;
    position: fixed;
    transition: 0.3s ease-in-out;
}

.topBar .title {
    cursor: default;
    transition: 0.3s ease-in-out;
    flex: 5;
    height: auto;
    width: auto;
    display: flex;
    justify-content: start;
    align-items: center;
    color: dodgerblue;
    font-size: 6vh;
    font-family: Georgia,'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.topBar .home,
.topBar .more,
.topBar .info {
    cursor: pointer;
    display: flex;
    transition: 0.3s ease-in-out;
    justify-content: center;
    align-items: center;
    padding-left: 2vh;
    padding-right: 2vh;
    width: 15vh;
    height: 6vh;
    font-size: 3vh;
    color: #f4f4f4;
    border: 2px solid transparent;
    border-radius: 1vh;
}

.topBar .home::before,
.topBar .more::before,
.topBar .info::before {
    content: "";
    width: 4vh;
    height: 4vh;
    justify-content: center;
    align-items: center;
    display: inline-block;
    background-size: cover;
}

.topBar .home::before {
    background-image: url(../assets/home.png);
}

.topBar .more::before {
    background-image: url(../assets/more.png);
}

.topBar .info::before {
    background-image: url(../assets/info.png);
}

.topBar .home:hover,
.topBar .more:hover,
.topBar .info:hover {
    border: 2px #f4f4f4 solid;
    border-radius: 2vh;
    background-color: #bbe1fa;
    color: #1f1f1f;
    transition: 0.3s ease-in-out;
}

/* 头部移动端适配 */
.mobile {
    display: none;
    z-index: 100;
    width: 100%;
    height: 12vh;
    background-color: #1f1f1f;
    position: fixed;
    transition: 0.3s ease-in-out;
    background-color: transparent;
    align-items: center;
    justify-content: center;
}

.mobile .title {
    color: dodgerblue;
    font-size: 4.5vh;
}

.mobile .more {
    position: absolute;
    right: 5%;
    background-image: url(../assets/more2.png);
    width: 5vh;
    height: 5vh;
    background-size: cover;
    cursor: pointer;
}

.mobileMenu {
    z-index: 101;
    position: fixed;
    width: 60%;
    height: 100%;
    background-color: #f4f4f4;
    right: 0;
    opacity: 0.96;
    transform: scaleX(0);
    transform-origin: right;
    transition: 0.3s ease-in-out;
}

.mobileMenu .cancel {
    content: '';
    position: absolute;
    right: 0;
    margin: 1.8vh;
    width: 6.4vh;
    height: 6.4vh;
    background-image: url("../assets/cancel.png");
    background-size: cover;
    cursor: pointer;
}

.mobileMenu .title {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5vh;
    color: dodgerblue;
}

.mobileMenu hr {
    width: 100%;
    margin: 0;
}

.mobileMenu .home,
.mobileMenu .info,
.mobileMenu .more ul {
    padding: 2vh;
    padding-left: 5vh;
    text-align: left;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    font-size: 2.5vh;
    color: #1f1f1f;
}

.mobileMenu .home::before,
.mobileMenu .info::before,
.mobileMenu .more ul a::before {
    content: "";
    width: 4vh;
    height: 4vh;
    vertical-align: middle;
    display: inline-block;
    background-size: cover;
}

.mobileMenu .more ul a {
    align-items: center;
    display: block;
    width: auto;
    line-height: 10vh;
    height: 10vh;
    font-size: 2.5vh;
    color: #1f1f1f;
    text-decoration: none;
    transition: 0.3s ease-in-out;
}

.mobileMenu .home::before {
    background-image: url(../assets/home.png);
}

.mobileMenu .info::before {
    background-image: url(../assets/info.png);
}

.mobileMenu .more .minecraft::before {
    background-image: url(../assets/mcIcon.png);
}

.mobileMenu .more .dropMsg::before {
    background-image: url(../assets/dropMsg.png);
}

.mobileMenu .more .ccard::before {
    background-image: url(../assets/ccard.png);
}

.mobileMenu .more .openAi::before {
    background-image: url(../assets/openAi.png);
}

@media (max-width: 768px) {
    .topBar {
        display: none;
    }

    .mobile {
        display: flex;
    }
}

/* 主界面 */
.main {
    display: flex;
    justify-content: center;
    align-items: end;
    background-color: #f4f4f4;
    /* background-image: url(../assets/bg1.png); */
    /* background-image: url(https://www.helloimg.com/images/2023/09/11/onGvOD.png); */
    background-image: url(https://bing.icodeq.com);
    background-repeat: no-repeat;
    background-position: center;
    width: auto;
    height: 100vh;
    background-size: cover;
}

.main .github,
.main .qq,
.main .wechat {
    cursor: pointer;
    content: "";
    width: 6vh;
    height: 6vh;
    justify-content: center;
    align-items: center;
    display: inline-block;
    background-size: cover;
    margin: 0 1vh;
    opacity: 0.7;
    transition: 0.3s ease-in-out;
}

.main .github {
    background-image: url(../assets/github-fill.png);
}

.main .qq {
    background-image: url(../assets/qq.png);
}

.main .wechat {
    background-image: url(../assets/wechat.png);
}

.main .github:hover,
.main .qq:hover,
.main .wechat:hover {
    width: 8vh;
    height: 8vh;
    opacity: 1;
    transition: 0.3s ease-in-out;
}

/* 滚动到首页 */
.upToTop {
    z-index: 100;
    position: fixed;
    bottom: 10vh;
    right: -5vh;
    cursor: pointer;
    content: "";
    display: block;
    width: 7vh;
    height: 7vh;
    background-size: cover;
    background-image: url(../assets/up-btn.png);
    opacity: 0;
    transition: 0.3s ease-in-out;
}

.upToTop:hover {
    transform: scale(1.5);
}

/* 小区块 */
.chunk {
    display: flex;
    justify-content: flex-start;
    align-items: start;
    width: auto;
    height: 100vh;
    margin: 2% 6%;
    padding: 5%;
    background-color: rgba(244, 244, 244, 0.6);
    font-size: 3vh;
    border-radius: 3vh;
}

/* 尾部 */
footer .footer {
    background-color: #f4f4f4;
    font-size: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    flex-direction: column;
}

/* 更多菜单 */
.topBar .more {
    position: relative;
}

.topBar .more ul {
    position: absolute;
    top: 100%;
    visibility: hidden;
    opacity: 0;
    transition: all 1s ease-in-out;
    width: auto;
    height: auto;
    color: #1f1f1f;
    background-color: #bbe1fa;
    border: solid 2px #f4f4f4;
    border-radius: 2vh;
    padding: 2vh;
    transform: scaleY(0);
    transform-origin: top;
}

.topBar .more ul a {
    padding: 2vh 1vh;
    border-radius: 1vh;
    font-size: 2.5vh;
    color: #1f1f1f;
    display: flex;
    text-decoration: none;
    justify-content: flex-start;
    align-items: center;
    transition: 0.3s ease-in-out;
}

.topBar .more ul a::before {
    content: "";
    width: 4vh;
    height: 4vh;
    justify-content: center;
    align-items: center;
    display: inline-block;
    background-size: cover;
}

.topBar .more ul a:hover {
    background-color: #76B6EA;
    color: #f4f4f4;
    transition: 0.3s ease-in-out;
}

.topBar .more .minecraft::before {
    background-image: url(../assets/mcIcon.png);
}

.topBar .more .dropMsg::before {
    background-image: url(../assets/dropMsg.png);
}

.topBar .more .ccard::before {
    background-image: url(../assets/ccard.png);
}

.topBar .more .openAi::before {
    background-image: url(../assets/openAi.png);
}